



.card {
    background-color: $card-bg-color;
    margin: small-prop(62) small-prop(24);
    max-width: small-prop(327);
    overflow: hidden;

    @include media-lg {
        margin: large-prop(152) auto;
        max-width: large-prop(350);
    }

    .container {
        margin: pixel-to-rem(24);
    }

}