@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Outfit:wght@300;400;600&display=swap');

@function pixel-to-rem($pixel) {
    @return ($pixel/16) + rem;
}



body {
    font-family: 'Outfit', sans-serif;
    background-color: $card-bg-color;
}

h1,
.hook {
    line-height: pixel-to-rem(26);
}

h1 {
    color: $secondary-txt-color;
    font-size: pixel-to-rem(22);
    
}

.hook {  
    font-size: pixel-to-rem(16);
}

p,
.hook {
    color: $primary-txt-color;
}

p {
    font-size: pixel-to-rem(15);
    line-height: pixel-to-rem(18);
}