footer {
    align-items: center;
    border-top: 1px solid $line-color;
    display: flex;
    margin-top: pixel-to-rem(16);

    img {
        border: 1px solid $secondary-txt-color;
        border-radius: 50%;
        height: 33px;
        margin-top: pixel-to-rem(16);
        width: 33px;
    }

    p {
        margin-left: pixel-to-rem(16);
        margin-top: pixel-to-rem(16);
    }

    a {
        color: $secondary-txt-color;

        &:hover {
            @extend %transition-ease;
            color: $highlight-color;
        }
    }
}
