header {
    
    img {
        height: small-prop(278);
        width: small-prop(278);
    }

    h1 {
        margin-top: pixel-to-rem(24);
    }

    p {
        margin-top: pixel-to-rem(18);
    }

}