body {
    background-color: $main-bg-color;
}

main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: pixel-to-rem(26);
}

.etherium {
    align-items: initial;
    display: grid;
    grid-template-columns: auto auto;

    img {
        height: 18px;
        margin-top: pixel-to-rem(2);
        width: 11px;
    }
    
    p {
        color: $highlight-color;
        margin-left: pixel-to-rem(6.5);
    }
}

.countdown {
    align-items: initial;
    display: grid;
    grid-template-columns: auto auto;

    img {
        margin-top: pixel-to-rem(4);
        height: 13.33px;
        width: 13.33px;
    }

    p {
        margin-left: pixel-to-rem(9);
    }
}