// Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(217, 54%, 11%);
$dark-blue: hsl(216, 50%, 16%);
$blue: hsl(215, 32%, 27%);

$main-bg-color: $very-dark-blue;
$card-bg-color: $dark-blue;

$line-color: $blue;

$primary-txt-color: $soft-blue;
$secondary-txt-color: $white;
$highlight-color: $cyan;